<p id="notice"><%= notice %></p>

<h1>Colaboradores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colaboradores.each do |colaboradore| %>
      <tr>
        <td><%= colaboradore.nome %></td>
        <td><%= link_to 'Show', colaboradore %></td>
        <td><%= link_to 'Edit', edit_colaboradore_path(colaboradore) %></td>
        <td><%= link_to 'Destroy', colaboradore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colaboradore', new_colaboradore_path %>
