<%= form_with(model: ordem, local: true) do |form| %>
  <% if ordem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ordem.errors.count, "error") %> prohibited this ordem from being saved:</h2>

      <ul>
      <% ordem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :cliente %>
    <%= form.text_field :cliente %>
  </div>

  <div class="field">
    <%= form.label :relato %>
    <%= form.text_field :relato %>
  </div>

  <div class="field">
    <%= form.label :colaborador %>
    <%= form.text_field :colaborador %>
  </div>

  <div class="field">
    <%= form.label :resultado %>
    <%= form.check_box :resultado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
